
.previewColCard {

  &:hover {
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    transform: scale(1.03);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #f5f5f5;
  }

}

