.Container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.5rem;
  margin-top: 5rem;

  justify-content: center;
  align-items: center;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}


.MainContent, .SubContent, .Map, .Media {
  width: 400px;
  height: 400px;
}

.Content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__Overview {
    font-size: 12px;
  }
}

.Img {
  width: 400px;
  height: 400px;
}
