.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  margin-top: 8rem;

}

.calendarWrapper {
  position: fixed;
  bottom: 72px;
  right: 16px;
  z-index: 999;
  background-color: white;
  border-radius: 8px;

}

.buttonContainer {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1000;
}

.titleContainer {
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contentContainer {
  display: flex;


  .cardContainer {

  }
}

.fixedCalendar {
  position: fixed; /* 화면에 고정 */
  top: 50%; /* 화면 중앙에 배치 */
  left: 50%;
  transform: translate(-50%, -50%); /* 수평, 수직 중앙 정렬 */
  z-index: 1000; /* 다른 요소들 위에 겹치도록 */
  background-color: white; /* 배경색 설정 */
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
  border-radius: 8px; /* 테두리 둥글게 */
  padding: 20px; /* 내부 여백 */
  max-width: 90vw; /* 화면 폭에 맞추어 크기 제한 */
  max-height: 90vh; /* 화면 높이에 맞추어 크기 제한 */
  overflow-y: auto; /* 달력 내용이 많을 때 스크롤 */
}
